<figure class="image-block {{ include.class }}">
	<a class="fancybox" {% if include.title %} alt="{{ include.title | markdownify | strip_html }}" title="{{ include.title | markdownify | strip_html }}" {% endif %} rel="page" href="{% if include.target %}{{ include.target }}{% else %}{{ site.url }}/assets/img/{{ include.file }}{% endif %}" >
		<img src="{{ site.url }}/assets/img/{{ include.file }}" {% if include.title %} alt="{{ include.title | markdownify | strip_html }}" title="{{ include.title | markdownify | strip_html }}" {% endif %} />
	</a>
  {% if include.title %}
    <figcaption class="caption {{ include.class }}">{{ include.title | markdownify }} </figcaption>
  {% else %}
    <figcaption class="caption {{ include.class }}"><p></p></figcaption>
  {% endif %}
</figure>
