<aside class="product {{ include.class }}">
  <a class="fancybox" alt="{{ include.name }}" title="{{ include.name }}" rel="page" href="{{ site.url }}/assets/img/{{ include.image }}" >
      <img class="product-art" src="{{ site.url }}/assets/img/{{ include.image }}" />
  </a>
  <ul class="details">
    <li class="name"><a href="{{ include.amazon }}">{{ include.name }}</a></li>
    <li class="description">{{ include.description }}</li>
    <li class="price">MSRP: {{ include.msrp }}</li>
    {{ if include.manufacturer }}
      <li class="link"><a href="{{ include.manufacturer }}">Manufacturer's Page</a></li>
    {{ endif }}
    {{ if include.amazon }}
      <li class="link"><a href="{{ include.amazon }}">Amazon</a></li>
    {{ endif }}
  </ul>
</aside>
