<div class="show-meta">
  <div class="player">
    <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.com/e/{{ page.simplecast }}?style=dark' width='100%'></iframe>
  </div>
  <div class="links">
    <a href="{{ site.url }}/itunes.xml">Subscribe</a> ::
    <a href="https://dts.podtrac.com/redirect.mp3/audio.simplecast.com/{{ page.simplecast }}.mp3" title="Seasons {{ title }}">Download</a> ::
    <a href="{{ page.twitter }}">Twitter-friendly Link</a>
  </div>
</div>
