<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="wrapper">
    <div id="container">

      {% include header.html %}

      <div id="content">
        <div class="post">

          {% include post-header.html %}
          {% include show-meta.html %}

          <div class="post-content">
            {{ content }}
            {% if page.link %}
              <div class="permalink">
                <a href="{{ site.url }}{{ page.url }}">
                  <span class="slashes"><span class="slash-r">/</span><span class="slash-g">/</span><span class="slash-b">/</span></span>
                </a>
              </div>
            {% endif %}
          </div>

          {% include post-footer.html %}
          {% include pagination.html %}
      </div>

      {% include footer.html %}

    </div>
  </div>
  </body>

</html>
